# General
# Ignore package managers and virtual environments
Dockerfile
compose.yaml

# Ignore logs and output files
logs/
output/

# Ignore configuration files
nginx.config
mime.types
.env

# Ignore any folders named "tests"
tests/