.flex-container {
  display: flex;
}

body {
  margin: 0;
}

nav {
  background-color: #222222;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

section {
  background-image: url("images/bg-desk.jpg");
  align-items: stretch;
  justify-content: center;
}

.flex-container > div {
  flex: 50%;
  padding: 16px;
  align-items: stretch;
}

footer {
    padding: 16px;
    background-color: #222222;
    text-align: center;
}