/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Theme Swatches in Hex */
:root {
  /* --colour-1: #304030;
  --colour-2: #404080;
  --colour-3: #BF3030; */
  /* --colour-1: #202080;
  --colour-2: #342080;
  --colour-3: #203380; */
  /* --colour-1: #202080;
  --colour-2: #204E80;
  --colour-3: #502080; */
  --colour-1: #205080;
  --colour-2: #208050;
  --colour-3: #502080;
  --colour-w: #FFFFFF;
  --colour-b: #000000;
}

/* All */

html {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Structure */

body {
  margin: 0;
  font-size: 1.6em;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}

/* Text */

h1, h2, h3, h4, p {
  color: var(--colour-b);
}

h1 {
  /* font-size: 2.52em; */
  font-size: 2.4rem;
  font-weight: 900;
}

h2 {
  /* font-size: 1.96em; */
  font-size: 2.0rem;
  font-weight: 900;
}

h3 {
  /* font-size: 1.48em; */
  font-weight: 900;
}

h4 {
  font-size: 1.6rem;
}

p {
  text-align: justify;
}

/* Navigation Bar */

nav {
  transition: all 0.3s ease 0s;
}

nav:hover {
  background-color: var(--colour-1);
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  list-style-type: none;
}

nav > ul > li {
  display: contents;
}

nav > ul > li > a {
  display: block;
  padding: 2.8rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--colour-b);
}

nav > ul > li > a:hover {
  background-color: var(--colour-2);
}

/* Main Content */

main {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-1);
}

/* section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 3.2em;
} */

section {
  padding: 7.2rem;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

#hero-left {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#hero-title {
  align-self: end;
  justify-self: start;
}

#hero-subtitle {
  align-self: start;
  justify-self: start;
}

#hero-right {
  display: grid;
}

#hero-visual {
  align-self: center;
  justify-self: center;
}

#work {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-1);
}

#work-title {
  align-self: start;
  justify-self: start;
}

#work-display {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#work-display-1, #work-display-2, #work-display-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
}

#work-display-1 > a, #work-display-2 > a, #work-display-3 > a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#work-display-1 > a > img, #work-display-2 > a > img, #work-display-3 > a > img{
  width: 100%;
  height: width;
  background-color: #121212;
}

#about {
  background-color: var(--colour-1);
}

#about-subtitle > p {
  text-align: justify;
}

#about-headshot {
  grid-area: 4 / 7 / 11 / 12;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1em;
}

#about-headshot > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

/* Footer */

footer {
  height: 25vh;
  padding: 1em;
  display: flex;
  background-color: #121212;
  justify-content: center;
  align-items: center;
}