/* ----------- CSS Reset ---------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------- Colour Theme ----------- */

/* :root {
  --col-primary: #208040;
  --col-primary-bg: #30BF60;
  --col-primary-fg: #104020;
  --col-secondary: #404A80;
  --col-secondary-bg: #6070BF;
  --col-secondary-fg: #202540;
  --col-accent: #FFD500;
  --col-white: #FFFFFF;
  --col-black: #000000;
} */


:root {
  --col-primary: #208040;
  --col-primary-bg: #2DB359;
  --col-primary-fg: #1A6633;
  --col-secondary: #404A80;
  --col-secondary-bg: #5968B3;
  --col-secondary-fg: #333C66;
  --col-accent: #FFD500;
  --col-white: #FFFFFF;
  --col-black: #000000;
}

/* ---------- Structure ----------- */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6em;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 7.2rem;
}

/* ----------- Text ------------ */
h2, h3, h4, p {
  color: var(--col-black);
}

h1 {
  /* position: relative;
  top: 1.6rem; */
  align-self: center;
  font-family: "Crimson Text", serif;
  font-size: 4rem;
  font-weight: 700;
}

h1:hover {  
  text-shadow:
    -1px -1px 0 var(--col-secondary-bg),
    -1px 1px 0 var(--col-secondary-bg),
    1px -1px 0 var(--col-secondary-bg),
    1px 1px 0 var(--col-secondary-bg);
}

h2 {
  /* text-transform: uppercase; */
  font-size: 6rem;
  font-weight: 400;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

/* ----------- Header ------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  height: 7.2rem;
  padding-left: 7.2rem;
  padding-right: 7.2rem;
  justify-content: space-between;
  background-color: var(--col-primary);
  transition: all 0.3s ease 0s;
  z-index: 1;
}

nav:hover {
  box-shadow: 0 0 1rem var(--col-primary-fg);
  background-color: var(--col-primary);
}

nav > a {
  padding: 1.6rem;
  display: flex;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--col-white);
}

nav > a:hover {
  color: var(--col-accent);
}

#nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

#nav-list > li {
  display: contents;
}

#nav-list > li > a {
  font-size: 2rem;
  padding: 1.6rem;
  display: flex;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--col-white);
}

#nav-list > li > a:hover {
  background-color: var(--col-primary-bg);
  color: var(--col-black);
}

/* ----------- Hero ------------ */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--col-primary-bg);
}

#hero > p {
  font-size: 2rem;
}


#hero > h2:nth-child(1):hover {
  color: var(--col-primary-fg);
}

#hero > p:hover {
  color: var(--col-accent);
}

#hero > h2:nth-child(3):hover {
  color: var(--col-secondary-fg);
}
#hero-content {
  flex: 1;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#hero-visual {
  width: 100px;
}

/* ----------- Work ------------ */
#work {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--col-secondary-bg);
}

#work-heading {
  display: flex;
  align-self: center;
  height: 7.2rem;
  padding: 1.6rem;
}

#work-carousel {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.6rem;
  padding: 1.6rem;
}

.work-item {
  display: flex;
  height: 100%;
}

.work-item > a {
  height: 100%;
  text-decoration: none;
}

.work-item > a > img {
  width: 100px;
  height: 100px;
  align-self: center;
}

.work-item > a > h4 {
  padding: 1.6rem;
  height: 6.8rem;
  background:  var(--col-tertiary);
}

/* ----------- About ----------- */
#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--col-primary-bg);
}

#about-heading {
  display: flex;
  align-items: center;
  height: 7.2rem;
  padding: 1.6rem;
}

#about-content {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.6rem;
  padding: 1.6rem;
}

#about-content > p {
  text-align: justify;
}

#about-headshot {
  justify-self: center;
  width: 100px;
  height: 100px;
  /* max-width: 100%;
  max-height: 100%; */
  padding: 1.6rem;
}

/* ---------- Footer ----------- */

footer {
  padding: 7.2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--col-black);
  justify-content: center;
  align-items: stretch;
}

#footer-nav {
  display: flex;
  justify-content: flex-start;
  padding: 1.6rem;
}

#footer-nav > ul > li > a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--col-white);
  border-radius: 2.5%;
}

#footer-copyright {
  display: flex;
  justify-content: center;
  padding: 1.6rem;
}

#footer-copyright > small {
  color: var(--col-white);
}